<div id="subjectDashboard" class="hidden">
  <input type="hidden" value="" class="school-id">
  <br><br>
  <div class="row">
    <table class="table table-responsive table-bordered text-center subject-list-table">
      <thead>
      <tr>
        <th>Name</th>
        <th colspan="2">Operations</th>
      </tr>
      </thead>
      <tbody></tbody>
    </table>
  </div>
</div>