<div id="schoolDashboard" class="hidden">
  <div class="row school-margin-top">
    <div class="row">
      <div class="col-md-12"><h1 class="text-center">School Dashboard</h1></div>
    </div>
    <br><br>
    <div class="row">
      <table class="table table-responsive table-bordered text-center school-list-table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Address</th>
            <th>City</th>
            <th>State</th>
            <th>Zipcode</th>
            <th>Phone</th>
            <th colspan="3">Operations</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>
  </div>
</div>